<div class="container mt-5 p-4 gradient-bg rounded text-white">
  <h2 class="text-center">Gestión de Horas</h2>
  <p class="text-center lead">
    Añade, visualiza y gestiona las horas trabajadas de manera sencilla.
  </p>

  <form (ngSubmit)="addHora()" class="d-flex flex-column align-items-center mt-4">
    <div class="mb-3 w-75">
      <label for="profesorId" class="form-label">ID del Profesor:</label>
      <input
        type="text"
        id="usuarioId"
        [(ngModel)]="newHora.usuarioId"
        name="profesorId"
        class="form-control"
        placeholder="ID del Profesor"
        required
      />
    </div>
    <div class="mb-3 w-75">
      <label for="alumnos" class="form-label">Cantidad de Alumnos:</label>
      <input
        type="number"
        id="alumnos"
        [(ngModel)]="newHora.alumnos"
        name="cantidadAlumnos"
        class="form-control"
        placeholder="Cantidad de Alumnos"
        required
      />
    </div>
    <div class="mb-3 w-75">
      <label for="nivelId" class="form-label">Nivel, razon:</label>
      <input
        type="number"
        id="nivel"
        [(ngModel)]="newHora.nivelId"
        name="nivelId"
        class="form-control"
        placeholder="Nivel"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary w-50">Agregar Hora</button>
  </form>

  <div class="mt-5">
    <h3 class="text-center">Lista de Horas</h3>
    <ul class="list-group mt-3">
      <li
        *ngFor="let hora of horas"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <div>
          <strong>Profesor:</strong> {{ hora.profesor.persona.nombre }} {{ hora.profesor.persona.apellido }} <br />
          <strong>Turno:</strong> {{ hora.turno.nombre }} ({{ hora.turno.horaInicio }} - {{ hora.turno.horaFin }})<br />
          <strong>Fecha:</strong> {{ hora.fecha }} <br />
          <strong>Alumnos:</strong> {{ hora.alumnos }} <br />
          <strong>Hora:</strong> {{ hora.hora }} <br />
          <strong>Nivel:</strong> {{ hora.nivel.descripcion }}
        </div>
        <button
          (click)="deleteHora(hora.id)"
          class="btn btn-danger btn-sm"
        >
          Eliminar
        </button>
      </li>
    </ul>
  </div>
</div>
